.array-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
  text-align: center;
  color: #fff;
  padding: 10px 1px;
}